# Database Configration (get these from plesk)
DB_HOST=mysql-db03.remote
DB_POART=33636
DB_USER=abzcomet
DB_PASSWORD=3oVYWq81lk_xv_ai
DB_NAME=abzcomet_demo_db

# Server configration 
PORT=3000
NODE_ENV=production
